<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Time" value="3000"/>
    <add key="logFile" value="E:\File\myservicelog{0}.txt"/>
    <add key="RabbitMqHost" value="127.0.0.1"/>
    <add key="VirtualHost" value="v_1"/>
    <add key="RabbitMqPort" value=""/>
    <add key="UserName" value="guest"/>
    <add key="Password" value="guest"/>
    <add key="ExchangeName" value="exchange_test"/>
    <add key="ExchangeType" value="fanout"/>
    <add key="RoutingKey" value="key.test.private.one"/>
    <add key="QueueName" value="queue.recive"/>
  </appSettings>

</configuration>